# essentials
/node_modules
/.pnp
.pnp.js
.DS_Store
.DS_Store?
/coverage
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/.vercel/
/.next/
/out/
/build
/dist

# debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env.*
!.env.example

# project specific
public/sitemap.xml
